:root{
    --color-primary: #007bff;
    --color-secondary: #252B33;
    --fonts-primary: 'Poppins', sans-serif;
}

/*Colores para el NAVBAR*/
.navbar-light .navbar-nav .nav-link {
    color: var(--color-secondary);
    font-family: "Roboto", Helvetica;
}

.hero-banner-section{
    background-image: url(../img/Background-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
}

.hero-spacing{
    height: 100%;
}

.hero-banner-section .container-md{
    height:700px;
}

.banner-left{
    background-color: #ffffffba;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -6px black;
}


.hero-title{
    font-family: var(--fonts-primary);
    font-weight: 800;
    margin: 15px 0;
}

.hero-button{
    margin-bottom: 15px;
}

.link-button{
    padding: 10px 30px;
    background: var(--color-primary);
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid var(--color-primary);
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.link-button:hover{
    background: #fff;
    color: var(--color-primary);
}
